.editar {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
}
.editar input{
    margin-right: 1rem;
}
.editar textarea{
    margin-right: 1rem;
}