.navbar{
    font-size: 30px;

}
.navbar ul{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
}

.navbar ul li{
    margin-left: 15px;
    background: gray;

}

.navbar ul li a:hover{
    background: rgb(51, 50, 50);
    color: white;
    width: 3rem;
    height: 3rem;
}

.navbar ul li a{
    text-decoration: none;
    padding: 2rem;
    color: black;


}